<h1 class="text-center">職員ログインページ</h1>

<%= form_with model:@form, url: :staff_session do |f| %>

    <div class="form-group">
    <%= f.label:email, "メール" %>
    <%= f.text_field:email, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label:password, "パスワード" %>
    <%= f.text_field:password, class:"form-control" %>
    </div>
    <div>
    <%= f.submit "ログイン", class:"btn btn-primary"%>
    </div>

<% end %>