<h1>パスワード変更</h1>
<%= form_with model:@password_change, url: :staff_password , method: :patch do |f| %>
    <div class="form-group">
    <%= f.label:current_password, "旧パスワード" %>
    <%= f.text_field:current_password, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label:new_password, "新パスワード" %>
    <%= f.text_field:new_password, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label:confirm_password, "パスワード確認" %>
    <%= f.text_field:confirm_password, class:"form-control" %>
    </div>
    <div>
    <%= f.submit "ログイン", class:"btn btn-primary"%>
    </div>
 <% end %>