<div class=" mt-3 mb-5">
<% @staff_members.each do |staff| %>
    <% p = StaffMemberPresenter.new(staff, self) %>
    <span>ID: <%= staff.id%></span><br>
    <span>email: <%= staff.email%></span><br>
    <span>name: <%=link_to staff.name,  admin_staff_member_path(staff) %></span><br>
    <span>name_kana: <%= staff.name_kana%></span><br>
    <span>start_date: <%= staff.start_date%></span><br>
    <span>suspend: <%= p.suspend_mark ? raw("&#x2611") : raw("&#x2610")%></span><br>
<% end %>

</div>