<div class=" mt-3 mb-5">
    <span>ID: <%= @staff_member.id%></span><br>
    <span>email: <%= @staff_member.email%></span><br>
    <span>name: <%= @staff_member.name%></span><br>
    <span>name_kana: <%= @staff_member.name_kana%></span><br>
    <span>start_date: <%= @staff_member.start_date%></span><br>
    <span>suspend: <%= @staff_member.suspend%></span><br>
</div>